<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Backend Server</title>
    <link rel="stylesheet" href="tailwind.css" />
    <style>
      .four04,
      .horizontal_line,
      .not_found_text {
        font-size: 1.2rem;
        letter-spacing: normal;
        font-weight: 400;
      }
      h1 {
        gap: 0.4rem;
      }
    </style>
  </head>

  <body class="bg-gray-950">
    <div
      class="flex flex-col gap-4 content-center place-items-center justify-center h-screen w-auto m-4 sm:m-2 md:m-3"
    >
      <h1
        class="text-slate-500 font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center dark:text-blue-50"
      >
        <span class="four04">404</span>
        <span class="horizontal_line">|</span>
        <span class="not_found_text">Page Not Found</span>
      </h1>
    </div>
  </body>
</html>
