<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Backend Server</title>
    <link rel="stylesheet" href="tailwind.css" />
  </head>

  <body class="bg-gray-950">
    <div
      class="flex content-center place-items-center justify-center h-screen w-auto m-4 sm:m-2 md:m-3"
    >
      <h1
        class="text-slate-600 font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center dark:text-blue-50"
      >
        Backend Server is connected Successfully
      </h1>
    </div>
  </body>
</html>
